@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

:root {
  --fade: fadeIn ease-in 500ms;
}

.App {
  text-align: center;
}

.content, table {
  animation: var(--fade);
}

.isHidden {
  display: none;
}

.menuOptions {
  display: flex;
}

.menu {
  padding: 5%;
}

@media screen and (min-width: 800px) {
  .pagination {
    max-width: 80%;
  }
}