@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

:root {
  --fade: fadeIn ease-in 500ms;
}

.transition {
  animation: var(--fade);
}
.transition > * {
  animation: none;
}

.isHidden {
  display: none;
}


.container, .loader, section, table {
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: capitalize;
}

.container {
  max-width: 900px;
}

#login {
  max-width: 350px;
}

section {
  min-width: 400px;
  width: 85%;
}

.frost {
  background: rgba(55, 55, 55, 0.2);
  padding: 3%;
  border-radius: 10px;
}

.menuOptions {
  display: flex;
  max-width: 700px;
}

.listEntry {
  margin: 20px auto !important;
  width: 90% !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(55, 55, 55, 0.7) inset;
}
.listEntry:hover {
  background: linear-gradient(135deg, rgba(55, 55, 55, 0.3), rgba(55, 55, 55, 0.1) 50%, transparent 90%);
  border-radius: 10px;
}
.listEntry > * {
  width: 95% !important;
  margin: 0 auto;
}
.listEntry > *:hover {
  background: initial;
}

.control :hover {
  background: white;
}

.menu {
  padding: 5%;
}

.pagination {
  max-width: 700px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.pagination-list {
  min-width: 50%;
  margin-right: auto;
}

.pagination-previous, .pagination-next {
  max-width: 40px;
}

.is-small {
  font-size: 0.9em !important;
}