.App {
  text-align: center;
}

.isHidden {
  display: none;
}

.menuOptions {
  display: flex;
}

.menu {
  padding: 5%;
}

@media screen and (min-width: 800px) {
  .pagination {
    max-width: 80%;
  }
}